.swiper-slide
    .gallery__slide
        img(src="http://placehold.it/1440x675", data-zoom="true")
.swiper-slide
    .gallery__slide
        img(src="/public/map1.jpg", data-zoom="true")
        .gallery__magnifier
.swiper-slide
    .gallery__slide
        img(src="/public/map2.jpg", data-zoom="true")
        .gallery__magnifier
.swiper-slide
    .gallery__slide
        .gallery__picture(style="background-image: url('/public/gallery/photo2.jpg')")
        .gallery__desc
            .kinetic
                p Ut odio tempore voluptas impedit repellendus officiis nisi perferendis, nemo inventore in. Inventore error quae, quia, natus qui vero nulla soluta sint.
                p Inventore error quae, quia, natus qui vero nulla soluta sint.
                p Repellendus officiis nisi perferendis, nemo inventore in. Inventore error quae, quia, natus qui vero nulla soluta sint.
                p Inventore error quae, quia, natus qui vero nulla soluta sint.
                p Repellendus officiis nisi perferendis, nemo inventore in. Inventore error quae, quia, natus qui vero nulla soluta sint.
                p Ut odio tempore voluptas impedit repellendus officiis nisi perferendis, nemo inventore in. Inventore error quae, quia, natus qui vero nulla soluta sint.
                p Repellendus officiis nisi perferendis, nemo inventore in. Inventore error quae, quia, natus qui vero nulla soluta sint.
                p Inventore error quae, quia, natus qui vero nulla soluta sint.
                p Ut odio tempore voluptas impedit repellendus officiis nisi perferendis, nemo inventore in. Inventore error quae, quia, natus qui vero nulla soluta sint.
            cite copyright here
.swiper-slide
    .gallery__slide
        .gallery__picture(style="background-image: url('/public/gallery/photo1.jpg')")
        .gallery__desc
            .kinetic
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odio tempore voluptas impedit repellendus officiis nisi perferendis, nemo inventore in. Inventore error quae, quia, natus qui vero nulla soluta sint.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odio tempore voluptas impedit repellendus officiis nisi perferendis, nemo inventore in. Inventore error quae, quia, natus qui vero nulla soluta sint.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odio tempore voluptas impedit repellendus officiis nisi perferendis, nemo inventore in. Inventore error quae, quia, natus qui vero nulla soluta sint.
                p
            cite Photo taken by ...