.swiper-slide
    .gallery__slide
        img(src="http://placehold.it/1440x675", data-zoom="true")
.swiper-slide
    .gallery__slide
        img(src="http://placehold.it/640x480", data-zoom="true")
.swiper-slide
    .gallery__slide
        img(src="http://placehold.it/500x675", data-zoom="true")
.swiper-slide
    .gallery__slide
        img(src="http://placehold.it/800x675", data-zoom="true")
.swiper-slide
    .gallery__slide
        img(src="/public/map1.jpg", data-zoom="true")
        .gallery__magnifier
.swiper-slide
    .gallery__slide
        img(src="/public/map2.jpg", data-zoom="true")
        .gallery__magnifier