- if (articles)
    each article in articles
        .article__container(id="Article#{article.id}", data-help="assets/images/help/005_read_3_HELP.png", data-page, data-onshow='onShowArticle', data-onhide='onHideArticle')
            .swiper-container(data-swiper)
                .swiper-wrapper
                    .swiper-slide
                        .article
                            != article.body

                .swiper-scrollbar

            .article__settings
                a.article__close(href="#", data-close)
                .article__size
                    a.article__plus(href="#", data-plus)
                    ul.article__text_size(data-text-size)
                        li
                        li.current
                        li
                    a.article__minus(href="#", data-minus)
                a.article__theme(href="#", data-theme)