head
    title
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="bower_components/jScrollPane/style/jquery.jscrollpane.css")
    link(rel="stylesheet", href="assets/stylesheets/main.css")
    link(rel="stylesheet", href="vendor/idangerous.swiper/idangerous.swiper.css")
    link(rel="stylesheet", href="vendor/idangerous.swiper/idangerous.swiper.scrollbar.css")
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="vendor/jquery-ui-1.11.2.custom/jquery-ui.min.js")
    script(src="bower_components/jScrollPane/script/jquery.mousewheel.js")
    script(src="bower_components/jScrollPane/script/jquery.jscrollpane.min.js")
    script(src="vendor/idangerous.swiper/idangerous.swiper.js")
    script(src="vendor/idangerous.swiper/idangerous.swiper.scrollbar.min.js")
    script(src="vendor/jquery.kinetic/jquery.kinetic.js")
    script(src="assets/javascripts/common.js")
    script(src="assets/javascripts/gallery.js")
    script(src="assets/javascripts/main.js")