//- Catalog
.catalog__container#Catalog(data-help="assets/images/help/003_content_HELP_v2.png", data-onshow='onShowCatalog', data-onhide='onHideCatalog')
    .catalog
        .swiper-container
            .swiper-wrapper
                - for (var i = 0; i < sections.length; i++)
                    .swiper-slide
                        .catalog__col
                            a.catalog__block(href="#", data-show="Preview", data-id="#{i}")
                                img.catalog__preview(src="public/uploads#{sections[i]['title-picture']}")
                                .catalog__mask
                                h3.catalog__title= sections[i].title
                                p.catalog__descr= sections[i].subtitle.substring(0, 130) + '...'
                            - if (!!sections[i+1])
                                - i = i+1
                                a.catalog__block(href="#", data-show="Preview", data-id="#{i}")
                                    img.catalog__preview(src="public/uploads#{sections[i]['title-picture']}")
                                    .catalog__mask
                                    h3.catalog__title= sections[i].title
                                    p.catalog__descr= sections[i].subtitle.substring(0, 130) + '...'
            .swiper-scrollbar