- if (galleries)
    each gallery in galleries
        .gallery(id="Gallery#{gallery.id}", data-page, data-onshow='onShowGallery', data-onhide='onHideGallery')
            .gallery__close(data-close)

            .gallery__title
                span Венгрия

            .gallery__zoom
                .gallery__inner
                .gallery__magnifier.gallery__magnifier_unzoom

            .gallery__container
                .swiper-container
                    .swiper-wrapper
                        each pic in gallery.pictures
                            .swiper-slide
                                .gallery__slide
                                    img(src="public/uploads#{pic.picture}")
                                    //- img(src="public/uploads#{pic.picture}", data-zoom="true")
                            //- .swiper-slide
                            //-     .gallery__slide
                            //-         .gallery__picture(style="background-image: url('/public/gallery/photo2.jpg')")
                            //-         .gallery__desc
                            //-             .kinetic
                            //-                 p Ut odio tempore voluptas impedit repellendus officiis nisi perferendis, nemo inventore in. Inventore error quae, quia, natus qui vero nulla soluta sint.
                            //-                 p Inventore error quae, quia, natus qui vero nulla soluta sint.
                            //-                 p Repellendus officiis nisi perferendis, nemo inventore in. Inventore error quae, quia, natus qui vero nulla soluta sint.
                            //-                 p Inventore error quae, quia, natus qui vero nulla soluta sint.
                            //-                 p Repellendus officiis nisi perferendis, nemo inventore in. Inventore error quae, quia, natus qui vero nulla soluta sint.
                            //-                 p Ut odio tempore voluptas impedit repellendus officiis nisi perferendis, nemo inventore in. Inventore error quae, quia, natus qui vero nulla soluta sint.
                            //-                 p Repellendus officiis nisi perferendis, nemo inventore in. Inventore error quae, quia, natus qui vero nulla soluta sint.
                            //-                 p Inventore error quae, quia, natus qui vero nulla soluta sint.
                            //-                 p Ut odio tempore voluptas impedit repellendus officiis nisi perferendis, nemo inventore in. Inventore error quae, quia, natus qui vero nulla soluta sint.
                            //-             cite copyright here