.organizers__container#Organizers(data-help="assets/images/help/007_org_HELP.png", data-onshow="onShowOrganizers", data-onhide="onHideOrganizers")
    .organizers__inner(data-kinetic)
        h1 Организаторы выставки
        p
            img(src="assets/images/logo1.png")
        p
            | Мультимедийная выставка «Помни…»,
            | организованная Российским военно-историческом обществом совместно с Министерством культуры Российской Федерации, Правительством Москвы, Всероссийской государственной телевизионной и радиовещательной компанией (ВГТРК), Центральным музеем Великой Отечественной войны, ИТАР-ТАСС.
        p Основная цель выставки «Помни» - ярко и правдиво показать подлинное лицо войны, уродливое и неестественное. Ныне живущие потомки героев-освободителей должны осознать всю опасность шагавшего по Европе в 1930-40-е годы фашизма и значение Великой освободительной миссии Красной Армии. Выставка адресуется прежде всего молодежи, чьё сознание только формируется, закладываются основные принципы и понятия о чести, доблести и Родине. Сейчас, в год 70-летия Великой Победы, особенно важно напомнить, с кем и чем сражались наши предки, какую цену заплатили они за долгие годы мирного неба без глобальных военных конфликтов.
        p
            img(src="assets/images/12_small.png")
        p Материалы выставки содержат изображения сцен жестокости и насилия.
        p
            | Руководители авторского коллектива:
            br
            | Народный художник России В.И.Нестеренко
            br
            | Народный художник России С.А. Щербаков
    .organizers__close(data-close)
