//- Article Preview
.preview__container#Preview(data-help="assets/images/help/004_them_Help.png", data-onshow="onShowPreview", data-onhide="onHidePreview")
    a.preview__prev(href="#")
    a.preview__next(href="#")
    a.preview__close(href="#", data-close)
    .preview
        .swiper-container
            .swiper-wrapper
                //- Only 1 photo
                //- .preview__block.swiper-slide
                //-     .preview__photo.preview__photo_big
                //-         .preview__photo_container
                //-             .preview__photo_block.span4(style="background-image: url(public/pic5.jpg)")
                //-                 h1 Нажмите,<br />чтобы перейти в галерею

                - if (sections)
                    each section in sections
                        .swiper-slide.preview__block
                            - if (!section.description) preview_big_class = "preview__photo_big";
                            .preview__photo(class="#{preview_big_class}")
                                .preview__photo_container
                                    each picture in section['section-pictures']
                                        - if (section.article_id)
                                            - id = section.article_id
                                            - open = 'Article'
                                        - if (section.gallery_id)
                                            - id = section.gallery_id
                                            - open = 'Gallery'
                                        - if (section.gallery_id || section.article_id)
                                            .preview__photo_block.span4(style="background-image: url(public/uploads#{picture['back-pic']})", data-show="#{open}#{id}", data-id="#{id}")
                                                - if (picture.title)
                                                    .preview__photo_legend= picture.title
                                        - else
                                            .preview__photo_block.span4(style="background-image: url(public/uploads#{picture['back-pic']})")
                                                - if (picture.title)
                                                    .preview__photo_legend= picture.title
                            if section.description
                                .preview__descr
                                    h2.preview__title
                                        span= section.title
                                    .preview__descr-content
                                        != section.description
                                    .preview__button_container
                                        if section.article_id
                                            a.preview__button.left(href="#", data-id="#{section.article_id}", data-show="Article#{section.article_id}") статья
                                        if section.gallery_id
                                            a.preview__button.right(href="#", data-id="#{section.gallery_id}", data-show="Gallery#{section.gallery_id}") галерея

                //- span1, span1, span1, span1
                //- .preview__block.swiper-slide
                //-     .preview__photo
                //-         .preview__photo_container
                //-             .preview__photo_block.span1(style="background-image: url(public/pic2.jpg)")
                //-                 .preview__photo_legend
                //-                     | Панихида по жертвам, замученным фашистами во время оккупации, август 1944 г.,
                //-                     em Место съемки: Люблин
                //-             .preview__photo_block.span1(style="background-image: url(public/pic3.jpg)")
                //-                 .preview__photo_legend
                //-                     | Панихида по жертвам, замученным фашистами во время оккупации, август 1944 г.,
                //-                     em Место съемки: Люблин
                //-             .preview__photo_block.span1(style="background-image: url(public/pic3.jpg)")
                //-                 .preview__photo_legend
                //-                     | Панихида по жертвам, замученным фашистами во время оккупации, август 1944 г.,
                //-                     em Место съемки: Люблин
                //-             .preview__photo_block.span1(style="background-image: url(public/pic3.jpg)", data-url="galleries/2.html",data-show="Gallery", data-photo-id="2")
                //-                 .preview__photo_legend
                //-                     | Панихида по жертвам, замученным фашистами во время оккупации, август 1944 г.,
                //-                     em Место съемки: Люблин
                //-     .preview__descr
                //-         h2.preview__title
                //-             span Польша2
                //-         p 17 июля 1944 г. войска 1-го Украинского фронта (командующий с мая 1944 г. Маршал Советского Союза И.С.Конев) форсировали р. Западный Буг и вступили на польскую территорию. 21 июля КРН, при содействии советского руководства был создан Польский комитет национального освобождения (ПКНО) – временный орган исполнительной власти, находившемся вначале в Хельме, а затем в Люблине. 26 июля в Москве было подписано Соглашение между правительством СССР и ПКНО, согласно которому последнему передавалась вся полнота власти на освобожденных Красной Армией польской территории немедленно после того, как она переставала быть зоной непосредственных военных действий.
                //-         p До конца августа 1944 г., Красная Армия освободила примерно одну четвертую польской территории. Большинство местного населения встречало советских солдат исключительно радушно. Однако некоторая часть польского населения была настроена против Советского Союза. Командование руково...
                //-         .preview__button_container
                //-             a.preview__button.left(href="#", data-url="articles/1.html", data-show="Article") прочитать статью
                //-             a.preview__button.right(href="#", data-url="galleries/1.html", data-show="Gallery") посмотреть галерею

                //- //- span4, desc
                //- .preview__block.swiper-slide
                //-     .preview__photo
                //-         .preview__photo_container
                //-             .preview__photo_block.span4(style="background-image: url(public/pic4.jpg)")
                //-                 .preview__photo_legend
                //-                     | Панихида по жертвам, замученным фашистами во время оккупации, август 1944 г.,
                //-                     em Место съемки: Люблин
                //-     .preview__descr
                //-         h2.preview__title
                //-             span Польша
                //-         p 17 июля 1944 г. войска 1-го Украинского фронта (командующий с мая 1944 г. Маршал Советского Союза И.С.Конев) форсировали р. Западный Буг и вступили на польскую территорию. 21 июля КРН, при содействии советского руководства был создан Польский комитет национального освобождения (ПКНО) – временный орган исполнительной власти, находившемся вначале в Хельме, а затем в Люблине. 26 июля в Москве было подписано Соглашение между правительством СССР и ПКНО, согласно которому последнему передавалась вся полнота власти на освобожденных Красной Армией польской территории немедленно после того, как она переставала быть зоной непосредственных военных действий.
                //-         p До конца августа 1944 г., Красная Армия освободила примерно одну четвертую польской территории. Большинство местного населения встречало советских солдат исключительно радушно. Однако некоторая часть польского населения была настроена против Советского Союза. Командование руково...
                //-         .preview__button_container
                //-             a.preview__button.left(href="#", data-url="articles/2.html", data-show="Article") прочитать статью
                //-             a.preview__button.right(href="#", data-url="galleries/2.html", data-show="Gallery") посмотреть галерею

                //- //- span4, desc
                //- .preview__block.swiper-slide
                //-     .preview__photo.preview__photo_big
                //-         .preview__photo_container
                //-             a.preview__photo_block(href="#", data-url="galleries/3.html", data-show="Gallery", style="background-image: url(public/pic4.jpg)")
                //-                 .preview__photo_legend
                //-                     | Панихида по жертвам, замученным фашистами во время оккупации, август 1944 г.,
                //-                     em Место съемки: Люблин
            .swiper-scrollbar