doctype html
html(lang="ru", class="stand_html_#{id}")
    include partials/cab_head.jade
    body
        .container
            .bg__mask_pic(style="background-image: url(public/uploads#{backpicture})")


            //- Enter
            a.enter#Enter(href="#", data-current, data-onshow="onShowEnter", data-onhide="onHideEnter", data-show="Attention")
                video.bg__video(autoplay, loop, muted)
                    source(src="public/uploads#{video}")
                .bg__mask
                h2.enter__subtitle Интерактивная экспозиция
                h1.enter__title= title
                h3.enter__remember
                .enter__start Начать просмотр

            //- Attention
            .attention#Attention
                img.attention__12(src="assets/images/12.png")
                p
                    | Уважаемые посетители,
                    br
                    | интерактивный стенд может содержать изображения, фотографии
                    br
                    | и тексты, носящие характер натуралистического показа
                    br
                    | последствий жестокого
                    br
                    | и бесчеловечного отношения к жертвам нацистского режима,
                    br
                    | которые могут вызывать страх, ужас или панику,
                    br
                    | в том числе у детей.
                p
                    | Продолжая просмотр содержания интерактивного стенда,
                    br
                    | Вы подтверждаете соответствие возрастному ограничению.
                a(href="#", data-show='Catalog').attention__button продолжить

            include partials/organizers.jade

            //- Header
            header.header#Header
                a.header__remember.blocked(href="#")
                a.header__title.blocked(href="#", data-show='Enter') Освобождение Европы
                .header__logo.blocked(data-show='Organizers')

            //- Footer
            footer.footer#Footer
                address.footer__copy &copy; РОССИЙСКОЕ ВОЕННО-ИСТОРИЧЕСКОЕ ОБЩЕСТВО
                ul.footer__nav(data-nav)
                    li
                        a.footer__nav_catalog.footer__nav_hidden(href="#", data-open-catalog)
                    li
                        a.footer__nav_geo.footer__nav_hidden(href="#")
                    li
                        a.footer__nav_help.footer__nav_hidden(href="#", data-open-help)
                    li
                        a.footer__nav_contrast(href="#", data-contrast)

            #content
                include partials/catalog.jade
                include partials/preview.jade
                include partials/article.jade
                include partials/gallery.jade

            //- Help
            .help(data-help)